extends layout

block content
    div.container
        div.content
            div.row
                h1 User List
            hr
            div.row
                table.table.table-hover.table-bordered
                    thead
                        tr
                            th Name
                            th Lastname
                            th Username
                            th Password
                            th Title
                    tbody
                       each user, i in userList
                        tr
                            td #{user.name}
                            td #{user.lastname}
                            td #{user.username}
                            td #{user.password}
                            td
                                a.btn.btn-danger.btn-xs(href="/list/delete/"+user._id) Delete User
            hr
            div.row
                div.col-md-12
                    a.btn.btn-default(href="/list/create") New User